@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
    
}
.titulo{
    margin-top: 1%;
    background-image: url(https://hbomax-images.warnermediacdn.com/2022-08/tt.png);
    background-position: 55%;
    background-size: 60%;
    background-repeat: no-repeat;
}
h1{
    padding: 10%;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 75px;
    padding: 5%;
}
button{
    position: fixed;
    background: none;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.image-container{

    display: flex;
    ;
}
.image-container>img{
    width: 101%;
}
article{
    width: 200px;
    color: #212F3C ;
    font-family: Libre Baskerville;
    padding: 20px;
    box-shadow: 0px 0px 0px #707B7C;
    background-color:white ;
}







a{
    padding: 50px;
}

.hover-effact{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    padding:0 10px;
    text-transform: uppercase;
}

.hover-effact::before,
.hover-effact::after{
    content: "";
    background: peru;
    width: 0;
    height: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: width 0.2s linear;
}

.hover-effact::before{

right: 100%; 
}

.hover-effact::after{

 left: 100%;

}


.hover-effact:hover::before,
.hover-effact:hover::after {
    width: 35%;
}